
<link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
<link rel="stylesheet" href="https://maxcon.bootstrapcdn.com/bootstrape/4.0.0-beta/css/bootstrap.min.css"integrity="sha384</y6pd6fv/Vv2hJnA6t+vslU6fwcrossorigin="anonymous 




body {
  background-color: lightblue
}

h1 {
  color:navy;
  margin-left: 20px;
}
 
p {
 font-normal: 20px;
}
